* {
	font-family: 'Rimouski';
}

body {
	background-color: black;
}

p {
	color: black;
	font-size: 20px;
}

.container {
	width: 500px;
	background-color: mediumaquamarine;

	display: block;
	margin: 0 auto;

	border-radius: 10px;
	padding-bottom: 50px;

	text-align: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 170px 10px;
}

header{
	max-width: 500px;
	padding: 10px 15px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 16px 0px 16px 0px;
	border-top: 3px solid #df8e00;
	border-bottom: 3px solid #df8e00;

	color: #8b1919;
	font-size: 20px;
	font-weight: 300;
	transition: 0.2s ease-out;
}


.app-title {
	width: 500px;
	height: 50px;
	border-radius: 10px 10px 0 0;
}

.app-title p {
	text-align: center;
	padding: 15px;
	margin: 0 auto;
	font-size: 1.2em;
	color: #293251;
}

.card {
	background-color: #f8d7da;
	display: none;
}

.name {
	color: #721c24;
	font-size: 1.2em;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

.weather-container {
	width: 500px;
	height: 260px;
	background-color: #f4f9ff;
	padding: 0;
}

.temperature-value {
	width: 500px;
	height: 60px;
}

.temperature-value p {
	padding: 0;
	margin: 0;
	color: #293251;
	font-size: 4em;
	text-align: center;
	cursor: pointer;
}

.temperature-value span {
	color: #293251;
	font-size: 0.5em;
}

.temperature-description p {
	padding: 8px;
	margin: 0;
	color: #293251;
	text-align: center;
	font-size: 1.2em;
}

/*
.container{
	margin: 0 auto;
	padding:0;
	width: 500px;
	height: 800px;
	display: block;
	border-radius: 10px;
   text-align: center;
   background-color: black;
   color: blanchedalmond;
  
}

.app-title{
	width: 300px;
	height: 50px;
	display: block;
}

.app-title h1{
	text-align: center;
	padding: 15px;
	margin: 50px;
	font-weight: bold;
	font-size: 50px;
}

.notification{
	background-color: cornsilk;
	display: none;
}

.weather-container{
	width: 500px;
	height: 100px;
}

.temperature-value{
    width: 300px;
    height:10px;
}

.temperature-value p{
    padding: 50px;
    margin: 50px;
    
    font-size: 100px;
    text-align: center;
    cursor: pointer;
}


.temperature-discription p{
	 text-align: center;
	 padding: 8px;
	 margin: 0;
	 font-size: 30px;
}
*/
